<p>todos works!</p>

<button (click)="createTodo()">Create todolist</button>

<div *ngFor="let todolist of todos$ | async" class="todolist">
  <div>
    <div>TodoId: {{ todolist.id }}</div>
    <div>TodoTitle: {{ todolist.title }}</div>
    <div>TodoOrder: {{ todolist.order }}</div>
  </div>
  <button (click)="deleteTodo(todolist.id)">Delete</button>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="login" />
  <input type="password" formControlName="password" />
  <input type="checkbox" formControlName="rememberMe" />
  <button type="submit">Submit</button>
</form>

<div>Login: {{ loginForm.value.login }}</div>
<div>Password: {{ loginForm.value.password }}</div>
<div>RememberMe: {{ loginForm.value.rememberMe }}</div>
